DATABASE_URL="postgresql://zerotoone:zerotoone123@localhost:5432/zerotoone-db?schema=public"
VOYAGE_API_KEY=INSERT_YOUR_VOYAGE_API_KEY_HERE
ANTHROPIC_API_KEY=INSERT_YOUR_ANTHROPIC_API_KEY_HERE
JWT_SECRET=some-dev-secret-here